<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
    <link rel="stylesheet" href="../css/gallery.css">

      <!-- Font-awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <div class="logo">
                <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
            </div>
            <ul class="links">
                <li class="link"><a href="/home">Home</a></li>
                <li class="link linkBg">
                    <div class="name">Shop <i class="fa-solid fa-chevron-down"></i></div>
                    <div class="linkBgUl">
                        <div class="top"></div>
                        <a href="/gender/men" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Man</span></a>
                        <a href="/gender/women" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Women</span></a>
                    </div>
                </li>
                <li class="link"><a href="/grancvel/register">Sing Up</a></li>
                <li class="link"><a href="/grancvel/login" class="link">Sing In</a></li>
            </ul>
    
            <div class="icons">
                <a href="/wishes">
                    <div class="icon">
                        <div class="count"><span class="heartCount"><%= likesProducts.length %></span></div>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </a>
                <a href="/bought">
                    <div class="icon">
                        <div class="count"><span class="buyCount"><%= boughtProducts.length %></span></div>
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                </a>
                <div class="icon profilBtn">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="icon menuBtn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="responsiveMenu">
        <div class="aside">
            <div class="top">
                <div class="logo">
                    <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
                </div>
                <i class="fa-solid fa-xmark close"></i>
            </div>
            <div class="links">
                <a href="/home" class="link">Home</a>
                <div class="link linkBg">
                    <div class="name">Shop <i class="fa-solid fa-chevron-down"></i></div>
                    <div class="linkBgUl">
                        <a href="/gender/men" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Man</span></a>
                        <a href="/gender/women" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Women</span></a>
                    </div>
                </div>
                <a href="grancvel/register" class="link">Sing Up</a>
                <a href="grancvel/login" class="link">Sing In</a>
            </div>
    
            <div class="bottom">
                <div class="icons">
                    <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
                </div>
                <p>Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            </div>
        </div>
    </div>

    <div class="profil">
        <div class="content">
            <% if(user) { %>
                <div class="profilTitle">
                    <h3>Profil</h3>
                    <i class="fa-solid fa-xmark close"></i>
                </div>
                <span class="name">name: <%= user.name %></span>
                <span class="email">email: <%= user.email %></span>
                <a href="/logout"><button class="btn">log out</button></a>
                <% } else { %>
                    <div class="profilTitle">
                        <h3>You Don't Have A Profil</h3>
                        <i class="fa-solid fa-xmark close"></i>
                    </div>
                    <% } %>
        </div>
    </div>
    

    <div id="slider" class="section slider sliderrrr">
        <div class="container">
            <div class="sliderBox" id="<%= product.id %>">
                <div class="imgBox sliderContainer" data-value="0">
                    <div class="bigImgContainer">
                        <div class="hidden">
                            <div class="bigImg">
                                <% for(let i = 0; i < product.images.length; i++) { %>
                                    <img src=".<%= product.images[i]%>"> 
                                <% } %>    
                            </div>
                        </div>
                        <div class="LFbtns">
                            <button class="left LFbtn" disabled><i class="fa-solid fa-angle-left left"></i></button>
                            <button class="right LFbtn"><i class="fa-solid fa-chevron-right right"></i></button>
                        </div>
                    </div>
                    <div class="smallImages">
                        <% for(let i = 0; i < product.images.length; i++) { %>
                            <img src=".<%= product.images[i]%>"> 
                        <% } %>   
                    </div>
                </div>
                <div class="content">
                    <div class="topContent">
                        <p><%= product.model %></p>
                        <h2><%= product.name %></h2>
                        <div class="top">
                            <span class="price">$<%= product.price %></span>
        
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
    
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga consequuntur soluta magni repellendus, ipsum blanditiis molestias voluptatem exercitationem consectetur asperiores labore minima sapiente perferendis iure harum impedit velit reprehenderit, cupiditate optio. Quis reprehenderit vel labore, illo assumenda, a mollitia incidunt exercitationem odit nostrum, sint ipsam ipsa rem hic suscipit et.</p>
                    <div class="buttons">
                        <button class="add"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</button>
                        <button class="wishBtn"><i class="fa-regular fa-heart"></i> Add To Wishlist</button>
                    </div>
    
                    <div class="category">
                        <p>Product Code: <%= product.id %></p>
                        <p>Shipping 1 Day</p>
                        <p>Category: <%= product.type.split(' ')[0]  %></p>
                        <p>Gender: <%= product.gender %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="topBtn" href="#hero">
        <i class="fa-solid fa-chevron-up"></i>
    </a>

    <footer>
        <div class="container">
            <div class="card card1">
                <div class="logo">
                    <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
                <div class="inputBox">
                    <input type="email" placeholder="Please Enter Your email">
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>

            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>

            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <p>© 2023 Your company. All rights reserved.</p>
                <p>This Project was Made by <span>Lina Petrosyan</span></p>
            </div>
        </div>
    </footer>

    <script>
        const heartCount = document.querySelector('.heartCount');

        const likeBtn = document.querySelector('.wishBtn');

        const likesProducts = '<%- JSON.stringify(likesProducts) %>'
        const likesProductParse = JSON.parse(likesProducts);

        likeBtn.addEventListener('click', () => {
            const user = '<%- JSON.stringify(user)%>'
            const productId = document.querySelector('.sliderBox').getAttribute('id');
            if (user == '') {
                return window.location.href = '/grancvel/login';
            }
            const inLike = likesProductParse.find(card => {
                return card.product_id == productId;
            });
            if(!inLike) {
                fetch('/wishes', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({ productId, userId: JSON.parse(user).id })
                }).then(() => {
                    heartCount.innerText = +heartCount.innerText + 1;
                })
            } else {
                alert('Այս Պրոդուկտը Ձեր Հավանած Պրոդուկտների շարքում արդեն կար')
            }
        })

        const buy = document.querySelector('.add')
        const boughtProducts = '<%- JSON.stringify(boughtProducts) %>'
        const boughtProductsParse = JSON.parse(boughtProducts);
        const buyCount = document.querySelector('.buyCount');

        buy.addEventListener('click', () => {
            const user = '<%- JSON.stringify(user)%>'
            const productId = document.querySelector('.sliderBox').getAttribute('id');
            if (user == '') {
                return window.location.href = '/grancvel/login';
            }
            const inAdd = boughtProductsParse.find(card => {
                return card.product_id == productId;
            });
            if(!inAdd) {
                fetch('/bought', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({ productId, userId: JSON.parse(user).id })
                }).then(() => {
                    buyCount.innerText =  +buyCount.innerText + 1;
                })
            } else {
                alert('Այս Պրոդուկտը Ձեր Գնումների Արկղում կար')
            }
        })
    </script>
    <script src="../scripts/navbar.js"></script>
    <script src="../scripts/profil.js"></script>
    <script src="../scripts/slider.js"></script>
</body>
</html>
