<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishes</title>

    
    <link rel="stylesheet" href="css/wishes.css">
     <!-- Font-awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


</head>
<body>

    
    <div id="header">
        <div class="container">
            <div class="logo">
                <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
            </div>
            <ul class="links">
                <li class="link"><a href="/home">Home</a></li>
                <li class="link linkBg">
                    <div class="name">Shop <i class="fa-solid fa-chevron-down"></i></div>
                    <div class="linkBgUl">
                        <div class="top"></div>
                        <a href="/gender/men" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Man</span></a>
                        <a href="/gender/women" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Women</span></a>
                    </div>
                </li>
                <li class="link"><a href="/grancvel/register">Sing Up</a></li>
                <li class="link"><a href="/grancvel/login" class="link">Sing In</a></li>
            </ul>

            <div class="icons">
                <a href="/wishes">
                    <div class="icon">
                        <div class="count"><span class="heartCount"><%= wishesLength %></span></div>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </a>
  
                <a href="/bought">
                    <div class="icon">
                        <div class="count"><span class="buyCount"><%= boughtProducts.length %></span></div>
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                </a>
                <div class="icon profilBtn">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="icon menuBtn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="responsiveMenu">
        <div class="aside">
            <div class="top">
                <div class="logo">
                    <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
                </div>
                <i class="fa-solid fa-xmark close"></i>
            </div>
            <div class="links">
                <a href="/home" class="link">Home</a>
                <div class="link linkBg">
                    <div class="name">Shop <i class="fa-solid fa-chevron-down"></i></div>
                    <div class="linkBgUl">
                        <a href="/gender/men" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Man</span></a>
                        <a href="/gender/women" class="linkBgLi"><i class="fa-solid fa-arrow-right"></i> <span>Women</span></a>
                    </div>
                </div>
                <a href="grancvel/register" class="link">Sing Up</a>
                <a href="grancvel/login" class="link">Sing In</a>
            </div>

            <div class="bottom">
                <div class="icons">
                    <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                    <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
                </div>
                <p>Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            </div>
        </div>
    </div>

    <div class="profil">
        <div class="content">
            <% if(user) { %>
                <div class="profilTitle">
                    <h3>Profil</h3>
                    <i class="fa-solid fa-xmark close"></i>
                </div>
                <span class="name">name: <%= user.name %></span>
                <span class="email">email: <%= user.email %></span>
                <a href="/logout"><button class="btn">log out</button></a>
                <% } else { %>
                    <div class="profilTitle">
                        <h3>You Don't Have A Profil</h3>
                        <i class="fa-solid fa-xmark close"></i>
                    </div>
                    <% } %>
        </div>
    </div>

    <a class="topBtn" href="#hero">
        <i class="fa-solid fa-chevron-up"></i>
    </a>

    <div id="wishes" class="section">
        <div class="container">
            <div class="title">
                <h2>Wishlist</h2>
                <p>You have <span class="productsNum"><%= wishesLength %></span> items in your wishlist. See a version of this template for signed-in customer.</p>
            </div>

            <div class="boxes">
                <% for(let i = 0; i < products.length; i++) { %>
                    <div class="card" id="<%= products[i].id %>">

                        <div class="likeBtn">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="img">
                            <img src="<%= products[i].image %>" alt="">
                        </div>
                        <div class="content">
                            <p><%= products[i].model %></p>
                            <h3><%= products[i].name %></h3>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="bottom">
                                <div class="price"><span>$<%= products[i].price %></span></div>
                                <div class="likeEndBtns">
                                    <a href="/gallery/<%= products[i].id %>"><div class="icon btn"><i class="fa-solid fa-eye"></i></div></a> 
                                    <div class="add btn"><i class="fa-solid fa-cart-shopping"></i></div>
                                </div>
                            </div>

                            <button class="deleteButton">Delete</button>
                        </div>
                    </div>
                <% } %>   
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="card card1">
                <div class="logo">
                    <h3><i class="fa-solid fa-bag-shopping"></i> Varkala</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
                <div class="inputBox">
                    <input type="email" placeholder="Please Enter Your email">
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </div>
            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>

            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>

            <div class="card">
                <h3>Shop</h3>
                <ul>
                    <li><a>For Women</a></li>
                    <li><a>For Men</a></li>
                    <li><a>Stores</a></li>
                    <li><a>Our Blog</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <div class="container">
                <p>© 2023 Your company. All rights reserved.</p>
                <p>This Project was Made by <span>Lina Petrosyan</span></p>
            </div>
        </div>
    </footer>

    <script>

        function recursia(elem) {
            if (elem.parentElement.className.search('card') !== -1) {
                return elem.parentElement;
            }
            return recursia(elem.parentElement);
        }


        function recursia(elem) {
            if (elem.parentElement.className.search('card') !== -1) {
                return elem.parentElement;
            }
            return recursia(elem.parentElement);
        }

        const heartCount = document.querySelector('.heartCount');
        const productsNum = document.querySelector('.productsNum');
        document.querySelectorAll('.deleteButton').forEach(btn => {
            btn.addEventListener('click', () => {
                const user = '<%- JSON.stringify(user)%>';
                const card = recursia(btn);
                const productId = card.getAttribute('id');
                fetch('/wishes', {
                    method: 'delete',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({ productId, userId: JSON.parse(user).id })
                }).then(() => {
                    const changeNum = +heartCount.innerText - 1;
                    heartCount.innerText = changeNum;
                    productsNum.innerText = changeNum;
                    card.style.display = 'none';
                })
            })
        })

        const boughtProducts = '<%- JSON.stringify(boughtProducts) %>'
        const boughtProductsParse = JSON.parse(boughtProducts);
        const buyCount = document.querySelector('.buyCount');

        boughtProductsParse.forEach(buyId => {
            const card = document.getElementById(buyId.product_id);
            card ? card.querySelector('.add').classList.add('active') : false;
        } )

        const buys = document.querySelectorAll('.add')
        buys.forEach(buy => {
            buy.addEventListener('click', () => {
                const user = '<%- JSON.stringify(user)%>'
                const productId = recursia(buy).getAttribute('id');
                if (user == '') {
                    return window.location.href = '/grancvel/login';
                }

                if(buy.getAttribute('class').search('active') !== -1) {
                    buy.classList.remove('active');
                    fetch('/bought', {
                        method: 'delete',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({ productId, userId: JSON.parse(user).id })
                    }).then(() => {
                        buyCount.innerText = +buyCount.innerText - 1;
                    })
                    return;
                }
                buy.classList.add('active');
                fetch('/bought', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({ productId, userId: JSON.parse(user).id })
                }).then(() => {
                    buyCount.innerText =  +buyCount.innerText + 1;
                })
            })
        })
    </script>
    <script src="./scripts/navbar.js"></script>
    <script src="../scripts/profil.js"></script>
</body>
</html>